<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flower Search Engine</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
</head>
<body>
    <header class="banner-header">
        <img src="{{ url_for('static', filename='images/banner.jpg') }}" alt="Banner" class="banner">
        <div class="banner-text">
            <h1 class="title-banner">Flower Search Engine</h1>
        </div>
    </header>
    
    <div class="container">
        <div class="search-section">
            <h2>Search by Text</h2>
            <form id="search-form" method="POST">
                <input type="text" name="keyword" placeholder="Enter flower name: 'daisy', 'dandelion', 'rose', 'sunflower', 'tulip'" required>
                <button type="submit">Search</button>
            </form>
            <div id="results" class="grid"></div>
        </div>

        <div class="upload-section">
            <h2>Search by Image</h2>
            <form id="upload-form" action="/upload" method="post" enctype="multipart/form-data">
                <input type="file" name="file" required>
                <button type="submit">Search</button>
            </form>
            <div id="uploaded-image-preview" style="display: none;"></div>
            <div id="upload-info"></div> <!-- Thông báo sau khi tải ảnh -->
            <div id="upload-results" class="grid"></div> <!-- Hiển thị kết quả ảnh sau khi upload -->
        </div>
    </div>
    
    <div class="footer">
        <p>&copy; ACEVision Team</p>
        <p>Achieving a clear future with AI</p>

    </div>
</body>
</html>
